.cpuChart .chart-series-area-line.series0 {
    -fx-stroke: #f08c00;
}

.cpuChart .chart-series-area-fill.series0 {
    -fx-fill: rgba(240, 140, 0, 0.3);
}

.cpuChart .chart-series-area-line.series1 {
    -fx-stroke: #7abfff;
}

.cpuChart .chart-series-area-fill.series1 {
    -fx-fill: rgba(122, 191, 255, 0.3);
}

.memChart .chart-series-area-line.series0 {
    -fx-stroke: #f08c00;
}

.memChart .chart-series-area-fill.series0 {
     -fx-fill: rgba(240, 140, 0, 0.3);
}

.storageProgressBar .bar {
     -fx-background-color:  #f08c00;
     -fx-background-insets: 0;
     -fx-padding: 0;
}

.storageProgressBar .track {
     -fx-background-color:  #9d9d9d;
}